# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
dist/
build/
.env

# Node
node_modules/
.next/
.env.local
npm-debug.log*

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Postgres
postgres_data/
